<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DB Interface</title>

    <link th:rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link th:rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link th:rel="stylesheet" th:href="@{/css/mdb.css}"/>
    <link th:rel="stylesheet" th:href="@{/css/mdb.lite.css}"/>

</head>
<body>
<div class="container">
    <header>

        <nav class="navbar navbar-expand-lg navbar-dark default-color">
            <strong>Interfejs bazy danych Szymon Biliński</strong>
        </nav>

    </header>

    <table class="table table-bordered table-responsive-md table-striped text-center">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Edit</th>
            <th scope="col">Remove</th>
        </tr>
        </thead>
        <tbody th:each="user: ${users}">
        <tr>
            <th th:text="${user.getId}"/>
            <th th:text="${user.getFirstname}"/>
            <th th:text="${user.getLastname}"/>
            <th><a th:href="@{|/user/edit/${user.id}|}"><button type="submit" class="btn btn-warning btn-rounded btn-sm">Edycja</button></a></th>
            <th><button type="button" class="btn btn-danger btn-rounded btn-sm">Usuń</button></th>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
